@model DinnerViewModel
@{
    ViewBag.Title = "Ужины";
}
<h1>Ужины</h1>
<div class="row">
    @{
        foreach (var course in Model.dinnerCourses)
        {
            <div class="col-md-4">
                <div>
                    <div class="card mb-4 shadow-sm">
                        <img class="card border-0" src="@course.img" alt="@course.id" height="225" />
                        <div class="card-body">
                            <p class="card-text float-right"><small>@course.textMuted</small></p>
                            <p class="card-text">@course.name</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group bg-gradient-secondary">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Читать</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Добавить</button>
                                </div>
                                @{if (@course.category == Server.Data.Categories.Easy)
                                    {
                                        <h5><small class="junior">@course.category</small></h5>
                                    }
                                    else if (@course.category == Server.Data.Categories.Medium)
                                    {
                                        <h5><small class="middle">@course.category</small></h5>
                                    }
                                    else if (@course.category == Server.Data.Categories.Hard)
                                    {
                                        <h5><small class="senior">@course.category</small></h5>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
